<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
   <body>
      <title>Diabetes Prediction</title>
	  <div class="container">
		<div class="row">

		  <form action="http://localhost:5000" method="POST">
		  	<div class="col-sm-9">
			 <div class="form-group  purple-border">
				  <label for="comment">Pregnancies</label>
				  <textarea class="form-control" rows="2" id="query1" name="query1" rows="2" cols="8" autofocus>{{query1}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment">Glucose</label>
				  <textarea class="form-control" rows="2" id="query2" name="query2" rows="2" cols="8" autofocus>{{query2}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment">BloodPressure</label>
				  <textarea class="form-control" rows="2" id="query3" name="query3" rows="2" cols="8" autofocus>{{query3}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment">SkinThickness</label>
				  <textarea class="form-control" rows="2" id="query4" name="query4" rows="2" cols="8" autofocus>{{query4}}</textarea>
			</div>
			<div class="form-group  purple-border">
				  <label for="comment">Insulin</label>
				  <textarea class="form-control" rows="2" id="query5" name="query5" rows="2" cols="8" autofocus>{{query5}}</textarea>
			</div>
			<div class="form-group  purple-border">
				<label for="comment">BMI</label>
				<textarea class="form-control" rows="2" id="query6" name="query6" rows="2" cols="8" autofocus>{{query6}}</textarea>
		  	</div>
			<div class="form-group  purple-border">
				<label for="comment">DiabetesPedigreeFunction</label>
				<textarea class="form-control" rows="2" id="query7" name="query7" rows="2" cols="8" autofocus>{{query7}}</textarea>
		  	</div>
			  <div class="form-group  purple-border">
				<label for="comment">Age</label>
				<textarea class="form-control" rows="2" id="query8" name="query8" rows="2" cols="8" autofocus>{{query9}}</textarea>
		  	</div>
			</div>
			<div class="col-sm-3">
			<button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
			</div>
		  </form>
		  </div>
		  
		<div class="row"> 
			<div class="col-sm-9">
			<textarea class="form-control" rows="2" id="comment" name="output1" rows="2" cols="8" autofocus>{{output1}}</textarea>
			<textarea class="form-control" rows="2" id="comment" name="output2" rows="2" cols="8" autofocus>{{output2}}</textarea>
			</div>
		</div>
	</div>		
   </body>
</html>
